.header-root{
    position: relative;
    height: 660px;
    width: 100%;
    background-image: url('../../../../Image_Icon/header-bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
}

.header-root::before{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.5;
}